#register{
    text-align: center;
}

#registerH{
    font-family: "Comic Sans MS";
    color:deepskyblue;
    background: white;
    display: inline-flex;
    border-radius: 20px;
    padding: 20px;
}

#usernameP{
    margin-top: 20px;
    display: inline;
    font-size: 1.5em;
    color:deepskyblue;
    border-radius: 20px;
}

#registerForm{
    display: inline-block;
    min-width: 400px;
    padding-top: 10px;
    background: white;
    border-radius: 50px;
}

#passwordP{
    display: inline;
    font-size: 1.5em;
    color:deepskyblue;
    border-radius: 20px;
}

#usernameInput{
    margin-top: 20px;
    border-radius: 15px;
    display: inline;
    margin: 10px;
}

#passwordInput{
    border-radius: 15px;
    display: inline;
    margin: 10px;
}

#register-btn{
    border-radius: 7px;
    color:deepskyblue;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    font-size: 1.0em;
    border: none;
    width: 80px;
}

#register-btn:hover{
    background-color: #5bdbff;
    border: none;
    color: #ffffff;
    border-radius: 20px;
}