#searchResults a{
    margin-top: 10px;
    padding: 10px;
    font-family: "Comic Sans MS";
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: underline;
}

#searchResults a:hover{
    color: #FFFFFF;
}

a:visited{
    color: #FFFFFF;
}

#searchResults span{
    color: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    font-family: "Comic Sans MS";
    font-size: 36px;
}
