<div id="detailedPost" style="text-align: center">
    <br>
    <img src="{{image}}"  alt="{{image}}" style="max-width: 200px; max-height: 200px;">
    <h2>{{title}}</h2><br>
    <h4>Posted by: {{author}} Posted on: {{date}} Read: {{views}} times</h4><br>
    <span>{{text}}</span><br>
    <h3>Comments</h3><br>
    <div id="comments-list" style="text-align: center;"></div>
    <br>
    <br>
    <label id="comment-box">
        Add a comment:<br>
        <textarea class="commentText"></textarea>
    </label>
    <br>
    <input type="button" id="add-comment" value="Add comment"/>
</div>