<div id="editPost" style="text-align: center">
    <label>
        Title:<br>
        <input type="text" placeholder="Title" id="edit-title" required value={{title}}>
    </label>
    <br>
    <label>
        Content:<br>
        <textarea required id="edit-text" placeholder="Post content">{{text}}</textarea>
    </label>
    <br>
    <label>
        Image link (optional):<br>
        <input type="text" id="edit-image" placeholder="Image link" required/>
    </label>
    <div hidden id="edit-views" data-views="{{views}}"></div>
    <div hidden id="edit-author" data-author="{{author}}"></div>
    <br>
    <input type="button" value="Edit" id="edit-btn">
</div>