<div id="createPost" style="text-align: center">
    <label>
        Title:<br>
        <input type="text" placeholder="title" required name="title"/>
    </label>
    <br>
    <label>
        Content:<br>
        <textarea required name="text" rows="10" id="createPost-textarea"></textarea>
    </label>
    <br>
    <label>
        Image link (optional):<br>
        <input type="text" required name="image">
    </label>
    <br>
    <label>
        Tags: <br>
        <input type="text" required name="tags" id="tags">
    </label>
    <br>
    <input type="button" value="Create Post" id="createPost-btn">
</div>