<div style="text-align: center">
    <br>
    <h1>Welcome to our blog</h1>
    <br>
    <div style="margin: 15px 0px 0px; display: inline-block; text-align: center; width: 456px;"><noscript><div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: transparent;"><img src="http://localtimes.info/images/countries/bg.png"="" border=0="" style="border:0;margin:0;padding:0"=""> Sofia</a></div></noscript><script type="text/javascript" src="http://localtimes.info/clock.php?continent=Europe&country=Bulgaria&city=Sofia&cp1_Hex=ff0000&cp2_Hex=000000&cp3_Hex=f51f1f&fwdt=456&ham=0&hbg=1&hfg=0&sid=1&mon=1&wek=0&wkf=0&sep=0&widget_number=1000"></script></div>
    <h2>Top three posts of the week</h2>
    <div id="top-three-posts">
        <h3>Post Title</h3>
        <p style="display: inline-block">
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is this.model.logoutUser()
            .then(function (successData) {
            console.log(successData);
            _self.view.logoutUser()
            })
            .catch(function (errorData) {
            //TODO: fill notification
            });post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
            This is post textThis is post textThis is post text
        </p>
    </div>
</div>